.playlist {
    background-color:  #010c3f;
}

.input {
    display: block;
    background-color: #010c3f;
    border-style: none;
    color: white;
    font-size: 1.5em;
    outline: none;
    border-bottom: 1px solid white;
    width: 100%;
}

.button {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    color: #fff;
    background-color: #6c41ec;
    border-radius: 15px;
}

.button:hover {
    background-color: rgba(108, 65, 233, .7);
}